<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<filter>
		<filter-name>HelloWorldApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>com.emo.skeleton.web.ui.WicketApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HelloWorldApplication</filter-name>
		<url-pattern>/ui/*</url-pattern>
	</filter-mapping>

	<!-- Servlet for REST web service -->
	<servlet>
		<servlet-name>CommandRestServlet</servlet-name>
		<servlet-class>com.emo.skeleton.web.ProcessCommandRestServlet</servlet-class>
	</servlet>

	<!-- Servlet for REST web service -->
	<servlet>
		<servlet-name>CommandsRestServlet</servlet-name>
		<servlet-class>com.emo.skeleton.web.ProcessCommandsRestServlet</servlet-class>
	</servlet>

	<!-- Servlet for Hessian web services -->
	<servlet>
		<servlet-name>CommandHessianServlet</servlet-name>
		<servlet-class>com.emo.skeleton.web.CommandHessianServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommandHessianServlet</servlet-name>
		<url-pattern>/commands/hessian</url-pattern>
	</servlet-mapping>

	<!-- Listener for loading spring application context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext-*.xml</param-value>
	</context-param>

	<listener>
		<description>ApplicationContextLoaderListener</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>